<style>
    body{background: dodgerblue; font-family: verdana; color: #fff; padding: 30px;}
    h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
    p{font-size: 16px; text-align: center;}
</style>
<nav>
    <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/contact">Contact</a></li>
    </ul>
</nav>