<!DOCTYPE html>
<html>
    <body>
        <% include partials/nav.ejs %>
        <h1>Contact us!</h1>
        <p>Contact the coolest cats on the web right here...</p>
        <p><%= query_string.dept %></p>
        <form id="contact-form">
            <label for="who">Who do you want to contact?</label>
            <input type="text" name="department", value="<%= query_string.person %>"/>
            <label for=email">Your email</label>
            <input type="email" name="email", value="<%= query_string.dept %>"/>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>